@page
@model PersonalInfoSampleApp.Pages.Form.CreateModel
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<IndexModel> Localizer

@{
    ViewData["Title"] = @Localizer["FormCreate"];
}

<h1>@Localizer["InputData"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PersonalInfo.FirstName" class="control-label"></label>
                <input asp-for="PersonalInfo.FirstName" class="form-control" />
                <span asp-validation-for="PersonalInfo.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo.LastName" class="control-label"></label>
                <input asp-for="PersonalInfo.LastName" class="form-control" />
                <span asp-validation-for="PersonalInfo.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PersonalInfo.DateOfBirth" class="control-label"></label>
                <input asp-for="PersonalInfo.DateOfBirth" class="form-control" />
                <span asp-validation-for="PersonalInfo.DateOfBirth" class="text-danger"></span>
            </div>
            <fieldset id="@nameof(Model.PersonalInfo.ResidenceAddress)">
                <label asp-for="PersonalInfo.ResidenceAddress" class="control-label"></label>
                <div class="form-group">
                    <label asp-for="PersonalInfo.ResidenceAddress.Street" class="control-label"></label>
                    <input asp-for="PersonalInfo.ResidenceAddress.Street" class="form-control" />
                    <span asp-validation-for="PersonalInfo.ResidenceAddress.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.ResidenceAddress.ResidenceNumber" class="control-label"></label>
                    <input asp-for="PersonalInfo.ResidenceAddress.ResidenceNumber" class="form-control" />
                    <span asp-validation-for="PersonalInfo.ResidenceAddress.ResidenceNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.ResidenceAddress.CityId" class="control-label"></label>
                    <select asp-for="PersonalInfo.ResidenceAddress.CityId" asp-items="Model.Cities" class="form-control"></select>
                    <span asp-validation-for="PersonalInfo.ResidenceAddress.CityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.ResidenceAddress.PostalNumber" class="control-label"></label>
                    <input asp-for="PersonalInfo.ResidenceAddress.PostalNumber" class="form-control" />
                    <span asp-validation-for="PersonalInfo.ResidenceAddress.PostalNumber" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input"
                           asp-for="PersonalInfo.UseSameAddress"
                           onchange="setEnabled(this.checked, @nameof(Model.PersonalInfo.CorrespondenceAddress))" />
                    @Html.DisplayNameFor(model => model.PersonalInfo.UseSameAddress)
                </label>
            </div>
            <fieldset id="@nameof(Model.PersonalInfo.CorrespondenceAddress)">
                <label asp-for="PersonalInfo.CorrespondenceAddress" class="control-label"></label>
                <div class="form-group">
                    <label asp-for="PersonalInfo.CorrespondenceAddress.Street" class="control-label"></label>
                    <input asp-for="PersonalInfo.CorrespondenceAddress.Street" class="form-control" />
                    <span asp-validation-for="PersonalInfo.CorrespondenceAddress.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.CorrespondenceAddress.ResidenceNumber" class="control-label"></label>
                    <input asp-for="PersonalInfo.CorrespondenceAddress.ResidenceNumber" class="form-control" />
                    <span asp-validation-for="PersonalInfo.CorrespondenceAddress.ResidenceNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.CorrespondenceAddress.CityId" class="control-label"></label>
                    <select asp-for="PersonalInfo.CorrespondenceAddress.CityId" asp-items="Model.Cities" class="form-control"></select>
                    <span asp-validation-for="PersonalInfo.CorrespondenceAddress.CityId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PersonalInfo.CorrespondenceAddress.PostalNumber" class="control-label"></label>
                    <input asp-for="PersonalInfo.CorrespondenceAddress.PostalNumber" class="form-control" />
                    <span asp-validation-for="PersonalInfo.CorrespondenceAddress.PostalNumber" class="text-danger"></span>
                </div>
            </fieldset>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<script>
    function setEnabled(checkedValue, targetElement) {
        targetElement.setAttribute("test", "test");
        if (checkedValue)
            targetElement.setAttribute("disabled", checkedValue);
        else
            targetElement.removeAttribute("disabled");
    }</script>

<div>
    <a asp-page="Index">@Localizer["BackToIndex"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
